body {
	font-family: var(--main-font);
	background-color: var(--light-color);
	color: var(--dark-color);
	min-height: 180vh;
}

a {
	text-decoration: none;
}

.title {
	text-transform: uppercase;
	font-size: 50px;

	&_focus {
		text-align: center;
	}
}

.header {
	&__content {
		align-items: center;
		background-color: var(--white-color);
		border-radius: 0px 0px 10px 10px;
		display: flex;
		height: 106px;
		justify-content: space-between;
		padding: 23px 35px;
	}

	&__nav ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}

	&__actions {
		display: flex;
		gap: 80px;
		align-items: center;
	}
}

.btn {
	align-items: center;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	display: flex;
	gap: 15px;
	height: 60px;
	justify-content: center;
	padding: 18px 45px;

	&_light {
		background-color: var(--white-color);
		color: var(--violet-color-1);
	}
	&_glass {
		border: 1px solid var(--white-color);
	}
	&_primary {
		background: var(--9700-cc, #9700CC);
		color: var(--white-color);
	}

	&_icon {
		&:before {
			background-color: var(--light-color);
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 50%;
			content: '';
			height: 60px;
			width: 60px;
		}
	}

	&_action {
		padding-right: 5px;
		padding-left: 32px;
		&:after {
			background-color: var(--pink-color);
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 50%;
			content: '';
			height: 50px;
			width: 50px;
		}
	}

	&_login:before {
		background-image: url('/resources/images/icons/login.svg');
		background-size: 16px;
		background-position: 46% center;
	}
	&_up-next:after {
		background-image: url('/resources/images/icons/arrow-up-next.svg');
		background-size: 14px;
	}
}

.inline-btns {
	display: flex;
	gap: 20px;
}

.icon {
	&-persons {
		background-image: url('/resources/images/icons/persons.svg');
	}
	&-check {
		background-image: url('/resources/images/icons/check.svg');
	}
	&-time {
		background-image: url('/resources/images/icons/time.svg');
	}
}