.title {
	text-transform: uppercase;
	font-size: 50px;
	letter-spacing: 0.01em;
	margin-bottom: 50px;

	&_focus {
		text-align: center;
	}

	@include md {
		font-size: 40px;
		margin-bottom: 40px;
	}

	@include sm {
		font-size: 28px;
		margin-bottom: 28px;
	}

	@include xs {
		font-size: 26px;
		margin-bottom: 26px;
	}
}

.btn {
	align-items: center;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	gap: 15px;
	height: 60px;
	justify-content: center;
	padding: 18px 45px;
	position: relative;
	line-height: 1.1em;

	@include md-and-less {
		padding: 18px 32px;
	}

	&, &:before, &:after {
		transition: .18s;
	}

	&_extra {
		padding: 28px 45px;
	}

	&_light {
		background-color: var(--white-color);
		color: var(--violet-color-1);
	}
	&_glass {
		border: 1px solid var(--white-color);

		&:hover {
			background-color: var(--white-color);
			color: var(--violet-color-1);
		}
	}
	&_glass-color {
		border: 1px solid var(--violet-color-1);
		color: var(--violet-color-1);

		&:hover {
			background-color: var(--violet-color-2);
			border-color: var(--white-color-2);
			color: var(--white-color);
		}
	}
	&_primary {
		background: var(--violet-color-1);
		color: var(--white-color);
		&:hover {
			background-color: var(--violet-color-2);
		}
	}

	&_icon {
		&:before {
			background-color: var(--light-color);
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 50%;
			content: '';
			height: var(--btn-size);
			width: var(--btn-size);
		}

		&:hover {
			color: var(--violet-color-1);
			&::before {
				background-color: var(--violet-color-1);
			}
		}
	}

	&_action {
		padding-right: 70px;
		padding-left: 34px;
		display: flex;

		// @include xs {
		// 	padding-right: 34px;
		// }

		&:after {
			--size: 50px;
			background-color: var(--pink-color);
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 50%;
			content: '';
			height: var(--size);
			width: var(--size);
			position: absolute;
			right: 6px;
			// @include md-and-less {
			// 	--size: 34px
			// }
		}
	}

	&_login {
		padding: 0;
		&:before {
			background-image: url('/resources/images/icons/login.svg');
			background-size: 16px;
			background-position: 46% center;
		}
		&:hover:before {
			background-image: url('/resources/images/icons/login-light.svg');
		}
	}
	&_rub {
		padding: 0;
		&:before {
			background-image: url('/resources/images/icons/rub.svg');
			background-size: 24px;
			background-position: center;
		}
		&:hover:before {
			background-image: url('/resources/images/icons/rub-light.svg');
		}
	}
	&_star {
		padding: 0;
		&:before {
			background-image: url('/resources/images/icons/star-empty.svg');
			background-size: 24px;
			background-position: center;
		}
		&:hover:before {
			background-image: url('/resources/images/icons/star-empty-light.svg');
		}
	}
	
	&_up-next {

		&:hover:after {
			background-color: var(--violet-color-1);
			background-image: url('/resources/images/icons/arrow-up-next-light.svg');
		}

		&:after {
			background-image: url('/resources/images/icons/arrow-up-next.svg');
			background-size: 14px;
		}
	}
}


.inline-btns {
	display: flex;
	gap: 20px;
}

.icon {
	&-persons {
		background-image: url('/resources/images/icons/persons.svg');
	}
	&-check {
		background-image: url('/resources/images/icons/check.svg');
	}
	&-time {
		background-image: url('/resources/images/icons/time.svg');
	}
	&-time-light {
		background-image: url('/resources/images/icons/time-light.svg');
	}
	&-message {
		background-image: url('/resources/images/icons/message.svg');
	}

	&-like {
		background-image: url('/resources/images/icons/like.svg');
	}
	&-friend {
		background-image: url('/resources/images/icons/friend.svg');
	}
	&-heart {
		background-image: url('/resources/images/icons/heart.svg');
	}
	&-eye {
		background-image: url('/resources/images/icons/eye.svg');
	}
	&-rub {
		background-image: url('/resources/images/icons/rub.svg');
	}
	&-fire {
		background-image: url('/resources/images/icons/fire.png');
	}


	&-rocket {
		background-image: url('/resources/images/icons/rocket.svg');
	}
	&-settings {
		background-image: url('/resources/images/icons/settings.svg');
	}
	&-money {
		background-image: url('/resources/images/icons/money.svg');
	}
	&-exit {
		background-image: url('/resources/images/icons/exit.svg');
	}
	&-home {
		background-image: url('/resources/images/icons/home.svg');
	}
	&-ruble {
		background-image: url('/resources/images/icons/ruble.svg');
	}
	&-help {
		background-image: url('/resources/images/icons/help.svg');
	}
	&-user-plus {
		background-image: url('/resources/images/icons/user-plus.svg');
	}
	&-link {
		background-image: url('/resources/images/icons/link.svg');
	}
	&-warn {
		background-image: url('/resources/images/icons/warn.svg');
	}

}

.stars {
	display: flex;
	gap: 5px;
}

.star {
	background-image: url('/resources/images/icons/star.svg');
	background-size: contain;
	background-repeat: no-repeat;
	height: 24px;
	width: 25px;

	&_grey {
		background-image: url('/resources/images/icons/star-grey.svg');
	}
}

.link {
	color: var(--violet-color-1);

	&:hover {
		text-decoration: underline;
	}
}

.input {
	background: var(--light-color);
	color: var(--grey-color);
	position: relative;

	&:focus {
		outline: 1px solid var(--violet-color-1);

		&, &::placeholder {
			color: var(--violet-color-1);
		}
	}
	&.error {
		color: var(--red-color);
		outline: 1px solid var(--red-color);
	}
	&_glass {
		background: none;
		border-radius: 5px;
		border: 1px solid var(--light-grey-color);
		padding: 18px 30px;
	}
	// &-rub {s
	// 	&::after {
	// 		content: '₽';
	// 		position: absolute;
	// 		right: 3px;
	// 	}
	// }
}

.extra-input {
	align-items: center;
	background-color: var(--light-color);
	border-radius: 5px;
	display: flex;
	position: relative;
	input {
		background: none;
		border-radius: 5px;
		font-size: 16px;
		height: 100%;
		padding: 18px 100px 18px 30px;
		width: 100%;
	}
	&_glass {
		background: none;
		input {
			border: 1px solid var(--light-grey-color);
			&:focus {
				outline: 1px solid var(--violet-color-1);
		
				&, &::placeholder {
					color: var(--violet-color-1);
				}
			}
		}
	}
	&__aside {
		display: flex;
		gap: 10px;
		position: absolute;
		right: 11px;
		align-items: center;
	}
	&__mark {
		background-image: var(--violet-gradient);
		border-radius: 2px;
		color: var(--white-color);
		padding: 14px;
	}
}

.input-title {
	margin-bottom: 10px;
}
.input-section {
	border-radius: 5px;
	margin: 18px 0;
}

.form {
	max-width: 374px;
	&-actions {
		margin-top: 28px;
	}
}


.welcome-form {
	text-align: center;
	&__main {
		background-color: var(--white-color);
		color: initial;
		padding: 52px 40px 44px;
		border-radius: 10px;
		width: 412px;
	}

	&__title {
		font-size: 34px;
		font-weight: 500;
		margin-bottom: 27px;
	}

	&__fieldset {
		display: flex;
		flex-direction: column;
		gap: 17px;
	}

	&__input-text {
		border-radius: 150px;
		font-size: 16px;
		padding: 28px 60px;

		&::placeholder {
			text-transform: uppercase;
		}
	}


	.btn {
		text-transform: uppercase;
	}

	&__note {
		font-size: 12px;
		margin: 20px 0;
	}

	&__footer {
		margin-top: 24px;
		a {
			font-weight: bold;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__mega-link {

		margin-top: 12px;

		a {
			margin-top: 8px;
			font-weight: 700;
			border-bottom: 1px dotted var(--white-color);
			padding-bottom: .2em;

			&:hover {
				text-decoration: none;
			}
		}
	}

}
.note {
	background-color: var(--light-color);
	color: var(--grey-color);
	display: grid;
	font-size: 12px;
	grid-gap: 10px;
	grid-template-columns: 24px auto;
	padding: 15px;
	text-align: left;

	&__icon {
		height: 24px;
		width: 24px;
	}
}