.hero {
	--hero-image: url('/resources/images/hero/hero.png');
	background-image: var(--hero-image), var(--hero-gradient);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 10px;
	color: var(--white-color);
	height: 600px;
	margin-top: 5px;
	padding: 0 30px;

	@include md {
		height: 550px;
	}
	@include sm {
		height: 470px;
		background-size: 108%;
		background-position: left center;
	}
	@include xs {
		padding: 32px 20px;
	}
	@include xs {
		--hero-image: url('/resources/images/hero/hero-compact.png');
		background-position: right bottom, center;
		background-size: 600px, auto;
		height: 796px;
		padding: 32px 20px;
	}
	@include xxs {
		background-size: 600px, auto;
		background-position: -100px bottom, center;
		height: 796px;
	}

	&__content {
		align-items: center;
		display: flex;
		height: 100%;
		padding-bottom: 35px;
		@include md {
			padding-bottom: 50px;
		}
		@include xs {
			align-items: flex-start;
		}
	}

	&__label {
		background: var(--violet-color-3);
		border-radius: 3px;
		display: inline;
		padding: 4px 16px;
		text-transform: uppercase;
		letter-spacing: .02em;
		@include md-and-less {
			font-size: 14px;
		}
		@include xs {
			font-size: 10px;
		}
	
	}

	&__article {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	&__title {
		font-size: 50px;
		font-style: normal;
		font-weight: 600;
		letter-spacing: 0.01em;
		line-height: 130%;
		max-width: 900px;
		text-transform: uppercase;
		@include md {
			font-size: 36px;
			max-width: 700px;
		}
		@include sm {
			font-size: 28px;
			max-width: 500px;
		}
		@include xs {
			font-size: 26px;
		}
	}

	&__text {
		font-size: 20px;
		@include md-and-less {
			font-size: 18px;
			max-width: 480px;
		}
		@include xs {
			font-size: 16px;
			line-height: 1.4em;
		}
	}
	&__actions {
		margin-top: 52px;
		@include md {
			margin-top: 40px;
		}
		@include sm {
			margin-top: 30px;
		}
		@include xs {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}
	}
}

.advantages {
	align-items: center;
	background-color: var(--white-color);
	border-radius: 10px;
	display: flex;
	gap: 10px;
	height: 160px;
	justify-content: space-between;
	margin-bottom: 88px;
	margin-top: -62px;
	padding: 65px 40px;

	@include md {
		gap: 16px;
		margin-bottom: 70px;
	}

	@include sm {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 10px;
		margin-bottom: 60px;
	}
	@include xs {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		gap: 30px;
		height: initial;
		margin: 5px 0;
		padding: 30px;
		margin-bottom: 60px;
	}
}

.advantage {
	align-items: center;
	display: flex;
	gap: 28px;
	@include md {
		gap: 22px;
	}
	@include sm {
		align-items: center;
		flex-direction: column;
		gap: 14px;
		text-align: center;
	}

	&__text {
		padding-bottom: 4px;
	}
	&__icon {
		--size: 76px;
		background-color: var(--violet-color-1);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		height: var(--size);
		width: var(--size);

		@include md {
			--size: 60px;
		}
		@include sm {
			--size: 50px;
		}
		@include xs {
			--size: 54px;
		}
	}
	&__value {
		font-size: 32px;
		font-weight: 600;
		@include md {
			font-size: 24px;
		}
		@include sm {
			font-size: 18px;
		}
		@include xs {
			font-size: 26px;
		}
	}
	&__note {
		margin-top: 4px;
		@include md {
			font-size: 14px;
		}
		@include sm-and-less {
			font-size: 13px;
		}
	}
}

.cards-container {
	--per-row: 4;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(var(--per-row), 1fr);
	width: 100%;
	@include md {
		--per-row: 2;
	}
	@include sm {
		--per-row: 2;
	}
	@include xs {
		--per-row: 1;
	}
}

.card {
	align-items: center;
	background-color: var(--white-color);
	border-radius: 10px 10px 14px 14px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&__image img {
		width: 100%;
		height: auto;
	}

	&__label {
		background-color: var(--light-color);
		border-radius: 30px;
		display: inline;
		margin: 26px 28px 6px;
		padding: 4px 12px;
	}

	&__desc {
		font-size: 20px;
		padding: 26px 28px 20px;
		flex-grow: 1;
	}

	&__title {
		font-size: 20px;
	}

	&__text {
		color: var(--grey-color);
		font-size: 14px;
		margin-top: 6px;
	}

	&__price {
		align-items: flex-end;
		display: flex;
		gap: 6px;
		margin-top: 22px;
	}

	&__price-value {
		font-size: 32px;
		font-weight: 600;
	}
	&__price-note {
		color: var(--grey-color);
		font-size: 14px;
		margin-bottom: 4px;
	}

	&__actions {
		width: 100%;
		.btn {
			border-radius: 10px;
			width: 100%;
		}
	}
}


.functions {
	background-image: url('/resources/images/messages.png'), var(--violet-gradient-1);
	background-position: left bottom;
	background-repeat: no-repeat;
	border-radius: 10px;
	color: var(--white-color);
	margin-top: 100px;
	padding: 50px 40px 58px 64px;

	display: grid;
	grid-template-columns: 3fr 5fr;
	gap: 10px;

	@include md {
		grid-template-columns: 2fr 3fr;
	}
	@include sm-and-less {
		display: flex;
		background-image:
			url('/resources/images/messages.png'),
			url('/resources/images/star.png'),
			var(--violet-gradient-1);
			background-position: left bottom, right top, center;
		flex-direction: column;
		gap: 40px;
		padding: 50px 40px 180px;
	}
	@include xs {
		padding: 40px 20px 180px;
		gap: 30px;
	}

	&__title {
		font-size: 50px;
		font-weight: 600;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		max-width: 380px;
		line-height: 1.25em;
		@include md {
			font-size: 32px;
		}
		@include sm {
			font-size: 32px;
			align-self: center;
			text-align: center;
		}
		@include xs {
			font-size: 26px;
			align-self: center;
			text-align: center;
		}
	}

	&__detail {
		display: grid;
		grid-gap: 25px 30px;
		grid-template-columns: 1fr 1fr;
		@include sm {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		@include xs {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}

.functions-light {
	background-color: var(--white-color);
	background-image: url('/resources/images/reactions.png');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 10px;
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 2fr;
	margin-top: 100px;
	position: relative;

	@include md-and-less {
		background-image: none;
	}

	@include md-and-less {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&::before,
		&::after {
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: '';
			position: absolute;
		}
		&::before {
			background-image: url('/resources/images/heart.png');
			height: 70px;
			left: 40px;
			top: -30px;
			width: 70px;
		}
		&::after {
			background-image: url('/resources/images/plus.png');
			height: 70px;
			right: 40px;
			top: 30px;
			width: 70px;
		}
	}
	// @include sm-and-less {
	// 	display: flex;
	// 	background-image:
	// 		url('/resources/images/messages.png'),
	// 		url('/resources/images/star.png'),
	// 		var(--violet-gradient-1);
	// 		background-position: left bottom, right top, center;
	// 	flex-direction: column;
	// 	gap: 40px;
	// 	padding-bottom: 180px;
	// }
	&__header {
		padding: 50px 0 0 64px;
		@include md-and-less {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 46px 15px 32px;
			text-align: center;
		}
	}
	&__title {
		font-size: 50px;
		font-weight: 600;
		letter-spacing: 0.01em;
		text-transform: uppercase;
		max-width: 380px;
		line-height: 1.25em;
		@include md {
			font-size: 32px;
		}
		@include sm {
			font-size: 32px;
		}
		@include xs {
			font-size: 26px;
			max-width: 184px;
		}
		// @include sm {
		// 	font-size: 32px;
		// 	align-self: center;
		// 	text-align: center;
		// }
	}
	&__subtitle {
		color: var(--grey-color);
		font-size: 20px;
		margin-top: 20px;
		@include md {
			font-size: 18px;
		}
	}

	&__detail {
		display: grid;
		grid-gap: 5px;
		grid-template-columns: 1fr 1fr;
		@include sm-and-less {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
}

.function {
	align-items: center;
	background: var(--violet-color-3);
	border-radius: 10px;
	display: flex;
	gap: 30px;
	padding: 18px 26px 17px;

	@include md {
		padding: 14px 20px 13px;
		gap: 18px;
	}

	&__icon {
		--size: 76px;
		background-color: var(--white-color);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		height: var(--size);
		min-width: var(--size);
		width: var(--size);
		@include md {
			--size: 58px;
		}
		// @include sm {
		// 	// --size: 76px;
		// }
		@include xs {
			--size: 50px;
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 600;
		text-transform: uppercase;
		@include md {
			font-size: 18px;
		}
		// @include sm {
		// 	// --size: 76px;
		// }
		@include xs {
			font-size: 16px;
		}
	}
	&__text {
		font-size: 14px;
		margin-top: 8px;
		@include md {
			margin-top: 3px;
		}
		@include xs {
			font-size: 13px;
		}
	}
}

.function-light {
	align-items: flex-start;
	background: var(--violet-color-1);
	border-radius: 10px;
	color: var(--white-color);
	display: flex;
	flex-direction: row-reverse;
	gap: 30px;
	padding: 32px 35px;

	&__icon {
		background-color: var(--white-color);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		height: 50px;
		min-width: 50px;
		width: 50px;
	}

	&__title {
		font-size: 24px;
	}
	&__text {
		font-size: 16px;
		margin-top: 9px;
		line-height: 1.5em;
	}
}

.about {
	align-items: center;
	background-color: var(--white-color);
	background-image: url('/resources/images/phone.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 46vw;
	display: flex;
	min-height: 760px;
	position: relative;
	
	@include md {
		background-size: 50vw;
		background-position-x: -120px;
		min-height: 630px;
	}
	@include sm-and-less {
		background-image: none;
		min-height: initial;
	}

	&::before {
		background-color: inherit;
		z-index: -1;
		position: absolute;
		bottom: 100%;
		content: '';
		height: 184px;
		width: 100%;
	}

	&__content {
		padding-left: 590px;
		@include md {
			padding-left: 360px;
		}
		@include sm-and-less {
			padding-left: 10px;
			margin: 60px auto;
		}
	}

	&__title {
		font-size: 50px;
		font-weight: 600;
		text-transform: uppercase;
		@include md {
			font-size: 36px;
		}
		@include sm {
			font-size: 32px;
		}
		@include sm-and-less {
			text-align: center;
		}
		@include xs {
			font-size: 26px;
		}
	}

	&__list {

		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-top: 50px;
		padding-left: 112px;

		@include md {
			margin-top: 42px;
			padding-left: 84px;
		}
		@include sm-and-less {
			padding-left: 80px;
		}

		> li {
			list-style: none;
			counter-increment: custom-counter-name;
			position: relative;

			&:before {
				align-items: center;
				background-image: url('/resources/images/bubble-grey.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				color: var(--grey-color);
				content: counter(custom-counter-name); 
				display: flex;
				font-size: 32px;
				font-weight: 600;
				height: 70px;
				justify-content: center;
				left: -110px;
				padding-right: 11px;
				position: absolute;
				text-align: center;
				top: -15px;
				width: 83px;

				@include md {
					font-size: 26px;
					height: 50px;
					padding-right: 8px;
					top: -10px;
					width: 59px;
					left: -82px;
				}
				@include sm-and-less {
					height: 50px;
					width: 60px;
					font-size: 20px;
					padding-right: 9px;
					left: -88px;
				}
			}

			&:nth-child(1):before {
				background-image: url('/resources/images/bubble-color.png');
				color: var(--white-color)
			}
		}

	}

	&__item-title {
		font-size: 32px;
		font-weight: 600;
		text-transform: uppercase;
		@include md {
			font-size: 24px;
		}
		@include sm-and-less {
			font-size: 20px;
		}
	}

	&__item-note {
		font-size: 20px;
		line-height: 1.35em;
		color: var(--grey-color);
		margin-top: 13px;
		@include sm-and-less {
			font-size: 16px;
		}
	}

}

.catalog {
	margin-top: 100px;
	@include md {
		margin-top: 80px;
	}
	@include sm-and-less {
		margin-top: 60px;
	}

	&__body {
		display: grid;
		gap: 5px;
		grid-template-columns: 350px 1fr;
		margin-top: 50px;
		position: relative;
		@include md {
			grid-template-columns: 240px 1fr;
			margin-top: 32px;
		}
		@include sm-and-less {
			display: flex;
			flex-direction: column;
			gap: 12px;
			margin-top: 22px;
		}
	}

	&__main {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__aside {
		// position: sticky;
		// top: 10px;
		ul {
			background-color: var(--white-color);
			border-radius: 10px;
			padding: 40px 20px;
			@include md {
				padding: 20px 10px;
			}
		}
	}

	&__categories-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
		@include md {
			gap: 6px;
		}
	}

	&__category {
		align-items: center;
		border-radius: 10px;
		display: flex;
		font-size: 24px;
		font-weight: 600;
		gap: 22px;
		padding: 18px 14px;
		position: relative;
		cursor: pointer;
		@include md {
			font-size: 18px;
			padding: 20px 14px;
			gap: 14px;
		}
		@include sm-and-less {
			padding: 16px 14px;
			font-size: 18px;
		}

		&.selected {
			background-color: var(--light-color);
		}

		&::after {
			background-image: url('/resources/images/icons/chevron-right.svg');
			background-position: center;
			background-repeat: no-repeat;
			content: '';
			height: 15px;
			opacity: .5;
			position: absolute;
			right: 18px;
			width: 11px;
			@include md {
				right: 12px;
			}
		}

		&:hover {
			background-color: var(--light-color);
		}

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			img {
				height: auto;
				max-height: 30px;
				width: 100%;
			}
			@include md {
				width: 30px;
			}
	
		}
	}

	&__more {
		background-color: var(--white-color);
		border-radius: 10px;
		color: var(--violet-color-1);
		cursor: pointer;
		font-weight: 500;
		padding: 25px 50px;
		text-transform: uppercase;
		transition: .2s;

		&:hover {
			background-color: var(--violet-color-1);
			color: var(--white-color);
			opacity: .8;
		}
		@include sm-and-less {
			margin-top: 24px;
		}
	}

	&__filter {
		background-color: var(--white-color);
		border-radius: 10px;
		padding: 40px 45px;

		@include md {
			padding: 25px 30px;
		}
		@include sm-and-less {
			padding: 20px 25px;
			margin: 32px 0 26px;
		}

		&-title {
			font-size: 24px;
			font-weight: 600;
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;
			margin-top: 22px;
		}
	}

}

.filter {
	label {
		padding: 10px 20px;
		border-radius: 5px;
		border: 2px solid var(--light-color);
		display: block;
		cursor: pointer;
	}

	&.checked {
		background-color: var(--light-color);
	}

	input {
		display: none
	}
}

.service {

	display: grid;
	grid-template-columns: 1fr 350px;
	grid-gap: 14px;
	background-color: var(--white-color);
	border-radius: 10px;

	@include md {
		grid-template-columns: 1fr 230px;
	}
	@include sm-and-less {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	& + & {
		margin-top: 6px;
		@include sm-and-less {
			margin-top: 38px;
		}
	}

	&__main {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 20px;
		padding: 30px 25px 40px;
		@include md {
			gap: 15px;
		}
	}

	&__title {
		align-items: center;
		display: flex;
		line-height: 1.9em;
		position: relative;
		text-transform: uppercase;
		gap: 16px;
	}

	&__icon {
		--size: 80px;
		align-items: center;
		background-color: var(--light-color);
		border-radius: 50%;
		display: flex;
		height: var(--size);
		justify-content: center;
		left: -102px;
		margin-bottom: 2px;
		position: absolute;
		width: var(--size);
		@include md {
			--size: 70px;
			left: -85px;
		}
		@include sm-and-less {
			position: initial;
		}
		@include xs {
			--size: 48px;
		}

		img {
			--img-size: 60px;
			height: var(--img-size);
			width: var(--img-size);
			@include md {
				--img-size: 50px;
			}
			@include xs {
				--img-size: 36px;
			}
	
		}
	}

	&__desc {
		margin-top: 24px;
		padding-left: 102px;
		@include md {
			padding-left: 80px;
		}
		@include sm-and-less {
			margin-top: 0;
			padding-left: 5px;
		}
	}

	&__name {
		font-size: 24px;
		font-weight: 600;
		@include xs {
			font-size: 16px;
			line-height: 1.45em;
		}
	}
	&__text {
		color: var(--grey-color);
		line-height: 1.35em;
		margin-top: 10px;
		@include sm-and-less {
			margin-top: 14px;
		}
	}

	&__aside {
		background-color: var(--violet-color-1);
		border-radius: 10px;
		color: var(--white-color);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
		@include sm {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}
		@include xs {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		.btn {
			border-radius: 10px;
			text-transform: uppercase;
			width: 100%;
		}

		
	}

	&__price {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 5px;
		justify-content: center;
		padding: 0 30px 10px;
		text-transform: uppercase;

		@include sm {
			padding-bottom: 0;
		}
		@include xs {
			align-items: center;
			flex-direction: row;
			justify-content: flex-start;
			padding: 10px 10px 5px;
		}

		&-title {
			font-size: 24px;
			font-weight: 600;
			@include xs {
				font-size: 16px;
				margin-top: 5px;
			}
		}

		&-text {
			display: flex;
			gap: 11px;
			align-items: flex-end;
		}

		&-value {
			font-size: 32px;
			font-weight: 600;
			@include xs {
				font-size: 26px;
			}
		}
		&-note {
			margin-bottom: 3px;
			font-size: 16px;
			@include xs {
				font-size: 13px;
			}
		}
	}

	&__footer {
		display: flex;
		gap: 15px 30px;
		margin-top: 40px;
		@include md {
			flex-direction: column;
		}
		@include xs {
			flex-direction: column;
		}
	}

	&__rating {
		display: flex;
		gap: 16px;
	}

}


.faq {
	margin-top: 100px;
	@include md {
		margin-top: 80px;
	}
	@include sm {
		margin-top: 70px;
	}
	@include xs {
		margin-top: 60px;
	}

	&__body {
		display: grid;
		grid-gap: 5px;
		grid-template-columns: 350px 1fr;
		position: relative;
		@include md-and-less {
			display: flex;
			flex-direction: column-reverse;
		}
	}
	&__main {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	// &__aside {
	// 	@include md-and-less {
	// 		.btn {
	// 			height: initial;
	// 		}
	// 	}
	// }

}

.notice {
	border-radius: 10px;
	background-color: var(--violet-color-1);
	color: var(--white-color);
	text-align: center;
	padding: 50px 10px 60px;

	&__title {
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 500;
	}
	&__text {
		font-size: 20px;
		margin-top: 7px;
	}
	&__actions {
		padding: 0 54px;
		margin-top: 25px;
	}
}

.accordion {

	p + p {
		margin-top: .66em;
	}

	&__answer {
		opacity: 0;
	}

	&__section {
		position: relative;
		background-color: var(--white-color);
		border-radius: 10px;
		& + & {
			margin-top: 5px;
		}

		&.active {
			padding-bottom: 32px;

			.accordion__answer {
				margin-top: -14px;
				opacity: 1;
				@include xs {
					margin-top: initial;
				}
			}
			.accordion__question::after {
				background-color: var(--light-color);
				background-image: url('/resources/images/icons/cross-active.svg');
			}
			
		}
	}

	&__question {
		align-items: center;
		cursor: pointer;
		display: flex;
		font-size: 24px;
		justify-content: space-between;
		padding-right: 100px;
		position: relative;
		padding: 35px 100px 35px 50px;
		@include sm {
			padding: 25px 100px 25px 30px;
			font-size: 20px;
		}
		@include xs {
			font-size: 16px;
			padding: 20px 100px 20px 20px;
			min-height: 80px;
		}
	}
	&__question::after {
		background-color: var(--violet-color-1);
		background-image: url('/resources/images/icons/cross-passive.svg');
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		content: '';
		height: 50px;
		position: absolute;
		right: 27px;
		// top: 27px;
		width: 50px;
		transition: .1s;
	}
	&__answer {
		color: var(--grey-color);
		padding-right: 100px;
		max-height: 0;
		overflow: hidden;
		transition: .5s;
		padding: 0 50px;
		@include sm {
			padding: 0 30px;
		}
		@include xs {
			padding: 0 22px;
		}
	}

}

///////
/// 

.catalog-article {
	border-left: 1px solid var(--grey-color);
	margin-left: 365px;
	margin-top: 60px;
	padding-left: 38px;
	position: relative;

	@include md {
		margin-left: 280px;
	}
	@include sm {
		margin-left: 40px;
		padding-left: 30px;
	}
	@include xs {
		margin-left: 18px;
		padding-left: 25px;
	}

	&::before {
		background-color: var(--violet-color-1);
		border-radius: 16px;
		content: '';
		height: 30px;
		left: -8px;
		position: absolute;
		top: 30px;
		width: 15px;
	}

	&__text {
		color: var(--grey-color);
		max-width: 890px;
		line-height: 1.4em;
		p + p {
			margin-top: .8em;
		}
	}

	.title {
		margin-bottom: 16px;
		font-size: 32px;
	}
}
