.account-aside
	.balance
		.balance__body
			.balance__icon.icon-rub
			.balance__main
				.balance__title Ваш баланс:
				.balance__value 7 048 ₽
		.balance__refill
			a(href="").btn.btn_primary Пополнить баланс

	ul.account-nav
		li
			a(href="").account-nav__item.selected
				.account-nav__icon.icon-home
				span Главная
		li
			a(href="").account-nav__item
				.account-nav__icon.icon-rocket
				span Создать заказ
		li
			a(href="").account-nav__item
				.account-nav__icon.icon-ruble
				span Баланс
		li
			a(href="").account-nav__item
				.account-nav__icon.icon-settings
				span Настройки
		li
			a(href="").account-nav__item
				.account-nav__icon.icon-help
				span Помощь
		li
			a(href="").account-nav__item
				.account-nav__icon.icon-money
				span Партнерская программа
		li
			a(href="").account-nav__item
				.account-nav__icon.icon-exit
				span Выйти

	.mini-feed
		.mini-feed__icon.icon-fire
		.mini-feed__title Оцените нашу&nbsp;работу
		.mini-feed__actions
			a.btn.btn_light.btn_action.btn_up-next Перейти в отзывы

