.catalog__body
	aside.catalog__aside
		ul.catalog__categories-list
			li.catalog__category.selected
				.catalog__category-icon
					img(src="/resources/images/social/telegram.svg", alt="Телеграм")
				span Телеграм
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/youtube.svg", alt="Youtube")
				span Youtube
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/vk.svg", alt="Вконтакте")
				span Вконтакте
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/instagram.svg", alt="Instagram")
				span Instagram
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/vk.svg", alt="Tiktok")
				span Tiktok
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/ok.svg", alt="Ok")
				span Ok
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/twitch.svg", alt="Twitch")
				span Twitch
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/twitter.svg", alt="Twitter")
				span Twitter
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/discord.svg", alt="Discord")
				span Discord
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/rutube.svg", alt="RuTube")
				span RuTube
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/likee.svg", alt="Likee")
				span Likee
			li.catalog__category
				.catalog__category-icon
					img(src="/resources/images/social/vk.svg", alt="Вконтакте")
				span Вконтакте

				//- ul
				//- 	li.selected Подписчики
				//- 	li Комментарии
				//- 	li Лайки
				//- 	li Активность

			//- li Youtube
			//- li Вконтакте
			//- li Instagram
			//- li Tiktok
			//- li Ok
			//- li Twitch
			//- li Twitter
			//- li Discord
			//- li RuTube
			//- li Likee

	.catalog__main

		.catalog__filter
			.catalog__filter-title Заданные фильтры
			ul.catalog__filter-list
				li.filter.checked
					.icon
					input(type="checkbox" checked)
					label(for="") Подписчики
				li.filter
					.icon
					input(type="checkbox")
					label(for="") Комментарии
				li.filter
					.icon
					input(type="checkbox")
					label(for="") Лайки
				li.filter
					.icon
					input(type="checkbox")
					label(for="") Активность

		.catalog__list
			section.service
				.service__main
					.service__icon
						img(src="/resources/images/social/telegram.svg", alt="Telegram")
					.service__desc
						.service__name Подписчики Телеграм «Эконом»
						.service__text Подписчики со всех стран с минимальным шансом списания. Высокая скорость. До 15к в сутки. Только публичная ссылка. Претензии не принимаются!
						footer.service__footer
							.service__rating
								.service__rating-name Качество
								include ./stars
							.service__rating
								.service__rating-name Скорость
								include ./stars
				aside.service__aside
					.service__price
						.service__price-title Стоимость
						.service__price-text
							b.service__price-value 0,55
							small.service__price-note ₽ / 1 штука
					.btn.btn_light Оставить заявку

			section.service
				.service__main
					.service__icon
						img(src="/resources/images/social/telegram.svg", alt="Telegram")
					.service__desc
						.service__name Подписчики Телеграм «Эконом»
						.service__text Подписчики со всех стран с минимальным шансом списания. Высокая скорость. До 15к в сутки. Только публичная ссылка. Претензии не принимаются!
						footer.service__footer
							.service__rating
								.service__rating-name Качество
								include ./stars
							.service__rating
								.service__rating-name Скорость
								include ./stars
				aside.service__aside
					.service__price
						.service__price-title Стоимость
						.service__price-text
							b.service__price-value 0,55
							small.service__price-note ₽ / 1 штука
					.btn.btn_light Оставить заявку

			section.service
				.service__main
					.service__icon
						img(src="/resources/images/social/telegram.svg", alt="Telegram")
					.service__desc
						.service__name Подписчики Телеграм «Эконом»
						.service__text Подписчики со всех стран с минимальным шансом списания. Высокая скорость. До 15к в сутки. Только публичная ссылка. Претензии не принимаются!
						footer.service__footer
							.service__rating
								.service__rating-name Качество
								include ./stars
							.service__rating
								.service__rating-name Скорость
								include ./stars
				aside.service__aside
					.service__price
						.service__price-title Стоимость
						.service__price-text
							b.service__price-value 0,55
							small.service__price-note ₽ / 1 штука
					.btn.btn_light Оставить заявку

			section.service
				.service__main
					.service__icon
						img(src="/resources/images/social/telegram.svg", alt="Telegram")
					.service__desc
						.service__name Подписчики Телеграм «Эконом»
						.service__text Подписчики со всех стран с минимальным шансом списания. Высокая скорость. До 15к в сутки. Только публичная ссылка. Претензии не принимаются!
						footer.service__footer
							.service__rating
								.service__rating-name Качество
								include ./stars
							.service__rating
								.service__rating-name Скорость
								include ./stars
				aside.service__aside
					.service__price
						.service__price-title Стоимость
						.service__price-text
							b.service__price-value 0,55
							small.service__price-note ₽ / 1 штука
					.btn.btn_light Оставить заявку

			section.service
				.service__main
					.service__icon
						img(src="/resources/images/social/telegram.svg", alt="Telegram")
					.service__desc
						.service__name Подписчики Телеграм «Эконом»
						.service__text Подписчики со всех стран с минимальным шансом списания. Высокая скорость. До 15к в сутки. Только публичная ссылка. Претензии не принимаются!
						footer.service__footer
							.service__rating
								.service__rating-name Качество
								include ./stars
							.service__rating
								.service__rating-name Скорость
								include ./stars
				aside.service__aside
					.service__price
						.service__price-title Стоимость
						.service__price-text
							b.service__price-value 0,55
							small.service__price-note ₽ / 1 штука
					.btn.btn_light Оставить заявку
					
		button.catalog__more Загрузить еще
