.faq__body
	aside.faq__aside
		.notice
			.notice__title Не нашил ответ?
			.notice__text Пишите нам
			.notice__actions
				.btn.btn_light Задать вопрос

	.faq__main
		.accordion

			section.accordion__section
				h3.accordion__question Как работает сервис и как выполняются заказы?
				.accordion__answer
					p Есть несколько возможных причин, по которым заказ может быть отменен, включая неправильно указанную ссылку, ошибку в выборе платформы, а также закрытый профиль/сообщество. Мы рекомендуем Вам убедиться, что Вы ввели корректные данные и что ваш профиль/сообщество доступны для просмотра.
					p Пожалуйста, переоформите свой заказ, убедившись, что Вы соблюдаете все условия, указанные в разделе «Дополнительная информация» в описании тарифа. При отмене заказа средства возвращаются на баланс Вашей учётной записи.
					p Если Вы заказали накрутку на профиль Вконтакте и он был отменён, пожалуйста, проверьте настройки приватности на странице https://vk.com/settings?act=privacy (странице, относящейся к указываемой записи) и убедитесь, что параметр «Кому в интернете видна моя страница» установлен на значение «Всем».
					p Если Вы столкнетесь с той же ошибкой при правильном оформлении заказа, пожалуйста, свяжитесь с нашей службой технической поддержки, чтобы мы могли помочь Вам решить проблему.

			section.accordion__section
				h3.accordion__question Я забыл пароль
				.accordion__answer
					p Данные для авторизации отправляются на электронную почту, которую Вы указали при регистрации или создании заказа. Рекомендуем проверить папку «Спам» в случае, если письмо не пришло в основной почтовый ящик. Если у Вас все еще возникают проблемы с авторизацией, пожалуйста, свяжитесь с нашей службой поддержки для получения дополнительной информации.

			section.accordion__section
				h3.accordion__question Вы накручиваете подписчиков из конкретного города/области?
				.accordion__answer
					p Нет, мы предоставляем услуги по накрутке подписчиков из Российской Федерации, стран СНГ и других стран мира, в зависимости от выбранного Вами тарифа. Информация о геолокации накручиваемых учётных записей указана в описании тарифа.


			section.accordion__section
				h3.accordion__question Как зарегистрироваться?
				.accordion__answer
					p Для регистрации на нашем сайте, необходимо нажать на кнопку «Зарегистрироваться» и указать действующий электронный адрес. После этого, необходимо поставить галочку, соглашаясь с условиями использования сервиса, и нажать кнопку «Зарегистрироваться».
					p Система автоматически предоставит Вам временный пароль. Важно сохранить его в надежном месте, так как Вы сможете войти в свою учетную запись только с помощью временного пароля. После входа в систему, рекомендуем изменить временный пароль на новый, более надежный.


			section.accordion__section
				h3.accordion__question Как создать заказ?
				.accordion__answer
					p Создать заказ Вы можете на главной странице сайта, оформив «Быстрый заказ», в разделе «Услуги», а так же в Вашем личном кабинете. Выберите нужную Вам площадку, услугу и тариф, ознакомьтесь с условиями и описанием тарифа. Укажите необходимое количество и корректную ссылку. Нажмите кнопку «Создать заказ», чтобы подтвердить создание заказа.

			section.accordion__section
				h3.accordion__question Как работает сервис и как выполняются заказы?
				.accordion__answer
					p Наш сервис предоставляет подписчиков, которые привлекаются как из CPA-сетей, так и через рекламу в социальных сетях. Мы работаем только с высококачественными источниками трафика, гарантируя качество наших услуг. Подписчики из CPA-сетей добавляются в группу или подписываются на страницу за денежное вознаграждение. Вы можете заказать подписчиков на нашей главной странице, выбрав нужную площадку, услугу и тариф. После этого мы начнем выполнение заказа в соответствии с выбранными параметрами.

			section.accordion__section
				h3.accordion__question Как работает сервис и как выполняются заказы?
				.accordion__answer
					p Наш сервис предоставляет подписчиков, которые привлекаются как из CPA-сетей, так и через рекламу в социальных сетях. Мы работаем только с высококачественными источниками трафика, гарантируя качество наших услуг. Подписчики из CPA-сетей добавляются в группу или подписываются на страницу за денежное вознаграждение. Вы можете заказать подписчиков на нашей главной странице, выбрав нужную площадку, услугу и тариф. После этого мы начнем выполнение заказа в соответствии с выбранными параметрами.

			section.accordion__section
				h3.accordion__question Где я могу отслеживать процесс выполнения своего заказа?
				.accordion__answer
					p Для отслеживания выполнения своего заказа, пожалуйста, зайдите в раздел «Мои заказы» в Вашем личном кабинете. Там вы сможете следить за процессом работы над Вашим заказом и получать информацию о его статусе.

			//- section.accordion__section
			//- 	h3.accordion__question У вас есть партнёрская программа или купоны/промокоды/скидки?
			//- 	.accordion__answer
			//- 		p У нас есть накопительная скидка, которая зависит от общей суммы пополнения баланса на учетной записи. Всего существует 10 уровней скидки, начиная от 1% при общем пополнении баланса на 500 рублей и заканчивая 10% при общем пополнении баланса на 150000 рублей. Данная скидка действует постоянно на всю учётную запись.
			//- 		p Также мы предлагаем партнерскую программу, которая позволяет получать до 5% от суммы пополнения счета пользователя, зарегистрировавшегося по вашей реферальной ссылке.
			//- 		p В личном кабинете нашего сайта вы можете найти ссылку на партнерскую программу, которую можно отправить друзьям, родственникам и знакомым.
