.faq__body
	aside.faq__aside
		.notice
			.notice__title Не нашил ответ?
			.notice__text Пишите нам
			.notice__actions
				.btn.btn_light Задать вопрос

	.faq__main
		.accordion

			section.accordion__section
				h3.accordion__question Как работает сервис и как выполняются заказы?
				.accordion__answer Данные для авторизации отправляются на электронную почту, которую Вы указали при регистрации или создании заказа. Рекомендуем проверить папку "Спам" в случае, если письмо не пришло в основной почтовый ящик. Если у Вас все еще возникают проблемы с авторизацией, пожалуйста, свяжитесь с нашей службой поддержки для получения дополнительной информации.

			section.accordion__section
				h3.accordion__question Я забыл пароль
				.accordion__answer Данные для авторизации отправляются на электронную почту, которую Вы указали при регистрации или создании заказа. Рекомендуем проверить папку "Спам" в случае, если письмо не пришло в основной почтовый ящик. Если у Вас все еще возникают проблемы с авторизацией, пожалуйста, свяжитесь с нашей службой поддержки для получения дополнительной информации.

			section.accordion__section
				h3.accordion__question Вы накручиваете подписчиков из конкретного города/области?
				.accordion__answer 33333 Данные для авторизации отправляются на электронную почту, которую Вы указали при регистрации или создании заказа. Рекомендуем проверить папку "Спам" в случае, если письмо не пришло в основной почтовый ящик. Если у Вас все еще возникают проблемы с авторизацией, пожалуйста, свяжитесь с нашей службой поддержки для получения дополнительной информации.

			section.accordion__section
				h3.accordion__question Как зарегистрироваться?
				.accordion__answer 44444 Данные для авторизации отправляются на электронную почту, которую Вы указали при регистрации или создании заказа. Рекомендуем проверить папку "Спам" в случае, если письмо не пришло в основной почтовый ящик. Если у Вас все еще возникают проблемы с авторизацией, пожалуйста, свяжитесь с нашей службой поддержки для получения дополнительной информации.

			section.accordion__section
				h3.accordion__question Как создать заказ?
				.accordion__answer 55555 Данные для авторизации отправляются на электронную почту, которую Вы указали при регистрации или создании заказа. Рекомендуем проверить папку "Спам" в случае, если письмо не пришло в основной почтовый ящик. Если у Вас все еще возникают проблемы с авторизацией, пожалуйста, свяжитесь с нашей службой поддержки для получения дополнительной информации.

			section.accordion__section
				h3.accordion__question Как работает сервис и как выполняютсязаказы?
				.accordion__answer 66666 Данные для авторизации отправляются на электронную почту, которую Вы указали при регистрации или создании заказа. Рекомендуем проверить папку "Спам" в случае, если письмо не пришло в основной почтовый ящик. Если у Вас все еще возникают проблемы с авторизацией, пожалуйста, свяжитесь с нашей службой поддержки для получения дополнительной информации.
