ul
	li
		a(href="/catalog.html").header__link
			span Каталог услуг
	li
		a(href="/fff.html").header__link
			span Отзывы
	li
		a(href="/fff.html").header__link
			span Помощь
	li
		a(href="/fff.html").header__link
			span Контакты
	li
		a(href="/fff.html").header__link
			span Партнёрская программа