extends ../templates/mega

block vars
	- const title = 'Контакты'

block content

	section.fluid-container.mega-hero.hero-not-found
		.mega-hero__content
			.container
				article.mega-hero__article
					.mega-hero__label Главная / 404
					h1.mega-hero__title Возникла ошибка
					.mega-hero__text Такой страницы не существует. Пожалуйста, вернитесь&nbsp;на&nbsp;главную.

				.inline-btns.mega-hero__actions
					a.btn.btn_light.btn_action.btn_up-next На главную
