extends ../templates/common

block vars
	- const title = 'Услуга'

block content

	section.fluid-container.mini-hero.hero-catalog
		.mini-hero__content
			.container
				article.mini-hero__article
					.mini-hero__label Главная / Каталог услуг / Telegram
					h1.mini-hero__title Накрутить Телеграм - быстро и&nbsp;качественно
					.mini-hero__text Раскрутите Телеграм канал. Накрутка живых подписчиков, просмотров, реакции и&nbsp;других активностей в&nbsp;одном месте.
				.inline-btns.mini-hero__actions

	.container
		include ../modules/catalog

		article.catalog-article
			h2.title Полезные функции
			.catalog-article__text
				p Телеграм начал свой путь развития еще в 2013 году и сразу стал набирать популярность. На тот момент уже были известные лидеры в нише мессенджеров в лице Вацап или Вайбер, но у телеграм был ряд преимуществ, позволивший в итоге занять лидирующие позиции в этой сфере.
				p К преимуществам телеграм можно отнести невероятное удобство работы с приложением. Оно работает быстро и совершенно не требовательно к железу пользователя. Так же немаловажным преимуществом Телеграм является отсутствие рекламы, которая раздражает многих пользователей других мессенджеров. Еще одним преимуществом можно назвать кроссплатформенность, Телеграм работает на любых устройствах и везде имеет полный функционал. Не важно, запускаете вы его на смартфоне или ПК, Windows у вас или Linux, Телеграм будет работать на любой платформе без ограничения функционала.
				p Сегодня Телеграм уже не только и не столько обычный мессенджер. Теперь это своего рода социальная сеть, объединяющая людей со схожими интересами в группы.