extends ../templates/common

block vars
	- const title = 'Отзывы'

block content

	section.fluid-container.mini-hero.hero-feed
		.mini-hero__content
			.container
				article.mini-hero__article
					.mini-hero__label Главная / Отзывы
					h1.mini-hero__title Отзывы наших клиентов
					.mini-hero__text Ознакомьтесь с&nbsp;отзывами наших клиентов или&nbsp;напишите свой, без&nbsp;ссылок, спама и&nbsp;нецензурной лексики
				.inline-btns.mini-hero__actions
					a.btn.btn_light.btn_action.btn_up-next Написать отзыв

	.container
		.feeds
			.feeds__column
				section.feed
					header.feed__header
						.feed__name Олег Иванов Иванович
						.feed__date-container
							.feed__date 16.09.2023
						.feed__rating
							include ../modules/stars
					.feed__text
						p Всем доброго времени суток друзья. Этим сайтом пользуюсь сам лично,все испробовал и все работает как надо! И как положено!!!!!! Рекомендую MagSmm топ от души разрабам работают как надо

				section.feed
					header.feed__header
						.feed__name Олег Иванов Иванович
						.feed__date-container
							.feed__date 16.09.2023
						.feed__rating
							include ../modules/stars
					.feed__text
						p Всё чётко работает. Если несостыковки как у меня,пишите в поддержку, написал - помогли)

				section.feed
					header.feed__header
						.feed__name Олег Иванов Иванович
						.feed__date-container
							.feed__date 16.09.2023
						.feed__rating
							include ../modules/stars
					.feed__text
						p Лучший сервис из всех которыми я пользовалась, спасибо вам!

				section.feed
					header.feed__header
						.feed__name Олег Иванов Иванович
						.feed__date-container
							.feed__date 16.09.2023
						.feed__rating
							include ../modules/stars
					.feed__text
						p Всё чётко работает. Если несостыковки как у меня,пишите в поддержку, написал - помогли)



			.feeds__column
				section.feed
					header.feed__header
						.feed__name Олег Иванов Иванович
						.feed__date-container
							.feed__date 16.09.2023
						.feed__rating
							include ../modules/stars
					.feed__text
						p Всем доброго времени суток друзья. Этим сайтом пользуюсь сам лично,все испробовал и все работает как надо! И как положено!!!!!! Рекомендую MagSmm топ от души разрабам работают как надо

				section.feed
					header.feed__header
						.feed__name Олег Иванов Иванович
						.feed__date-container
							.feed__date 16.09.2023
						.feed__rating
							include ../modules/stars
					.feed__text
						p Сайт топ просто бомба

				section.feed
					header.feed__header
						.feed__name Олег Иванов Иванович
						.feed__date-container
							.feed__date 16.09.2023
						.feed__rating
							include ../modules/stars
					.feed__text
						p Всем доброго времени суток друзья. Этим сайтом пользуюсь сам лично,все испробовал и все работает как надо! И как положено!!!!!! Рекомендую MagSmm топ от души разрабам работают как надо

				section.feed
					header.feed__header
						.feed__name Олег Иванов Иванович
						.feed__date-container
							.feed__date 16.09.2023
						.feed__rating
							include ../modules/stars
					.feed__text
						p Всё чётко работает. Если несостыковки как у меня,пишите в поддержку, написал - помогли)
