extends ../templates/main

block vars
	- const title = 'Накрутка Instagram*, TikTok, Telegram, ВКонтакте, YouTube'
	- const description = 'Мгновенная накрутка лайков, подписчиков, просмотров, комментариев'
	- const keywords = ''

block content

	section.fluid-container.hero
		.hero_content
			.container
				article.hero_article
					.hero_label Более 20 услуг в одном месте
					h1.hero_title Накрутка Instagram*, TikTok, Telegram, ВКонтакте, YouTube
					.hero_text Мгновенная накрутка лайков, подписчиков, просмотров, комментариев
				.inline-btns.hero_actions
					a.btn.btn_light.btn_action.btn_up-next Каталог услуг
					a.btn.btn_glass Быстрый заказ
	
	section.container
		.advantages
			section.advantage
				.advantage__icon.icon-persons
				.advantage__text
					.advantage__value 870 502
					.advantage__note Зарегистрированных пользователей
			section.advantage
				.advantage__icon.icon-time
				.advantage__text
					.advantage__value 7 048
					.advantage__note Текущих заданий в работе
			section.advantage
				.advantage__icon.icon-check
				.advantage__text
					.advantage__value 5 132 926
					.advantage__note Заданий уже выполнено

	section.container
		h2.title.title_focus Популярные услуги
		div
			section
			section
			section
			section


	section.container
		div
			h2 Функции сервиса
		div