extends ../templates/main

block vars
	- const title = 'Накрутка Instagram*, TikTok, Telegram, ВКонтакте, YouTube'
	- const description = 'Мгновенная накрутка лайков, подписчиков, просмотров, комментариев'
	- const keywords = ''

block content

	section.fluid-container.hero
		.hero__content
			.container
				article.hero__article
					.hero__label Более 20 услуг в одном месте
					h1.hero__title Накрутка Instagram*, TikTok, Telegram, ВКонтакте, YouTube
					.hero__text Мгновенная накрутка лайков, подписчиков, просмотров, комментариев
				.inline-btns.hero__actions
					a.btn.btn_light.btn_action.btn_up-next Каталог услуг
					a.btn.btn_glass Быстрый заказ

	section.container
		.advantages
			section.advantage
				div
					.advantage__icon.icon-persons
				.advantage__text
					.advantage__value 870 502
					.advantage__note Зарегистрированных пользователей
			section.advantage
				div
					.advantage__icon.icon-time-light
				.advantage__text
					.advantage__value 7 048
					.advantage__note Текущих заданий в&nbsp;работе
			section.advantage
				div
					.advantage__icon.icon-check
				.advantage__text
					.advantage__value 5 132 926
					.advantage__note Заданий уже выполнено

	section.container
		h2.title.title_focus Популярные услуги
		.cards-container
			section.card
				.card__label Услуга
				.card__image
					img(src="/resources/images/telegram-promo.png", alt="Telegram")
				article.card__desc
					header.card__title Telegram
					p.card__text Заполненные профили, мгновенный запуск заказа. Без списаний.
					footer.card__price
						b.card__price-value 500
						small.card__price-note ₽ / 1000 подписчиков
				.card__actions
					a.btn.btn_primary Оформить заказ

			section.card
				.card__label Услуга
				.card__image
					img(src="/resources/images/vk-promo.png", alt="vk")
				article.card__desc
					header.card__title Вконтакте
					p.card__text Добавление подписчиков с большой скоростью и лимитами.
					footer.card__price
						b.card__price-value 500
						small.card__price-note ₽ / 1000 подписчиков
				.card__actions
					a.btn.btn_primary Оформить заказ

			section.card
				.card__label Услуга
				.card__image
					img(src="/resources/images/instagram-promo.png", alt="Instagram")
				article.card__desc
					header.card__title Instagram
					p.card__text Подписчики с реальными публикациями, аватарками и именами.
					footer.card__price
						b.card__price-value 500
						small.card__price-note ₽ / 1000 подписчиков
				.card__actions
					a.btn.btn_primary Оформить заказ

			section.card
				.card__label Услуга
				.card__image
					img(src="/resources/images/tiktok-promo.png", alt="TikTok")
				article.card__desc
					header.card__title TikTok
					p.card__text Подписчики с минимальным шансом от списания. До 50К в сутки.
					footer.card__price
						b.card__price-value 500
						small.card__price-note ₽ / 1000 подписчиков
				.card__actions
					a.btn.btn_primary Оформить заказ

	section.container
		.functions
			h2.functions__title Функции сервиса
			.functions__detail

				section.function
					.function__icon.icon-like
					.function__main
						.function__title Мне&nbsp;нравится
						.function__text Лайки, классы и реакции

				section.function
					.function__icon.icon-friend
					.function__main
						.function__title Подписчики
						.function__text Лучшие на рынке офферного типа

				section.function
					.function__icon.icon-heart
					.function__main
						.function__title Комментарии
						.function__text На посты, фото или видео

				section.function
					.function__icon.icon-eye
					.function__main
						.function__title Просмотры
						.function__text На посты, фото или видео

	section.fluid-container.about
		.container.about__content
			h2.about__title Какие задачи мы решаем?
			ol.about__list
				li.about__item
					.about__item-title Накрутка подписчиков
					.about__item-note Подписчики оказывают основное влияние на&nbsp;рейтинг и&nbsp;качество аккаунта. От&nbsp;количества фолловеров зависит ранжируемость профиля в&nbsp;поиске для других пользователей и&nbsp;вызывает доверие человека, зашедшего на&nbsp;Вашу страничку. Чем выше показатель фолловеров, тем больше шансов что случайный гость проявит интерес и&nbsp;подпишется!
				li.about__item
					.about__item-title Накрутка лайков


	section.container.catalog
		h2.title.title_focus Что будем продвигать?
		include ../modules/catalog

	section.container
		.functions-light
			.functions-light__header
				h2.functions-light__title Работаем на&nbsp;совесть
				.functions-light__subtitle Выполнили более 100 000 заказов.
			.functions-light__detail

				section.function-light
					.function-light__icon.icon-like
					.function-light__main
						.function-light__title Надежность
						.function-light__text Тысячи довольных клиентов уже пользуются нашими услугами и остаются довольны.
				section.function-light
					.function-light__icon.icon-friend
					.function-light__main
						.function-light__title Низкие цены
						.function-light__text У нас самые низкие цены на рынке и отличное качество аудитории.

				section.function-light
					.function-light__icon.icon-heart
					.function-light__main
						.function-light__title 100% выполнение заказов
						.function-light__text Если Ваш заказ не был выполнен — мы вернем Вам денежные средства в полном объеме.

				section.function-light
					.function-light__icon.icon-eye
					.function-light__main
						.function-light__title Помощь
						.function-light__text Поможем в любое время в тикетах или в онлайн чате.


	section.container.faq
		h2.title.title_focus Популярные вопросы
		include ../modules/faq