extends ../templates/common

block vars
	- const title = 'Мои заказы'

block content

	.container
		.account
			.account__aside
				include ../modules/account-aside
			.account__main
				.account__block
					.bread Личный кабинет / Ваши заказы
					h1.account__title Ваши заказы

					.placeholder-image
						img(src="/resources/images/hand.png", alt="")

					.message
						.message__main
							.message__title Заказов не найдено
							.message__text Сделай свой первый шаг к популярности
						.message__aside
							.btn.btn_primary Создать заказ

					.orders-list
						section.order
							.order__main
								header.order__header
									.order__icon
										img(src="/resources/images/social/telegram.svg", alt="Telegram")
									.order__title
										.order__date 18.10.2023
										.order__name Подписчики Телеграм «Эконом»
								.order__detail
									.order__value
										.icon.icon-user-plus
										span 250 шт
									.order__value
										.icon.icon-link
										span https://t.me/sdfsdffa

							aside.order__aside
								.order__price
									.order__price-title Стоимость
									.order__price-text
										b.order__price-value 240
										small.order__price-note ₽
								.btn.btn_glass Повторить заказ

						section.order
							.order__main
								header.order__header
									.order__icon
										img(src="/resources/images/social/telegram.svg", alt="Telegram")
									.order__title
										.order__date 18.10.2023
										.order__name Подписчики Телеграм «Эконом»
								.order__detail
									.order__value
										.icon.icon-user-plus
										span 250 шт
									.order__value
										.icon.icon-link
										span https://t.me/sdfsdffa

							aside.order__aside
								.order__price
									.order__price-title Стоимость
									.order__price-text
										b.order__price-value 240
										small.order__price-note ₽
								.btn.btn_glass Повторить заказ

					include ../modules/paginator