extends ../templates/mega

block vars
	- const title = 'Партнерская программа'

block content

	section.fluid-container.mega-hero
		.mega-hero__content
			.container
				article.mega-hero__article
					.mega-hero__label Главная / Партнерская программа
					h1.mega-hero__title Партнерская программа
					.mega-hero__text


				.inline-btns.mega-hero__actions
					a.btn.btn_light.btn_action Вывести на свой счет

				//- div
				//- 	p Получайте до 60% со всех транзакций клиентов, приведенных вами в систему. Скопируй ссылку, отправь друзьям или поделись в социальных сетях, и получай процент от их заказов. Многоуровневая партнерская программа. Зарегистрируйся или войди в аккаунт, чтобы начать зарабатывать.
				//- 	p Хотите идти в ногу со временем и сотрудничать с компанией, которая может предлагать инновации в сфере продвижения услуг, товаров, брендов, информации и многого другого в сети? Предлагаем зарабатывать вместе!

	section
		.container
			h2 Партнерские уровни:

	section
		.container
			h2 Ваши рефералы