extends ../templates/form

block vars
	- const title = 'Создать аккаунт'

block content

	section.fluid-container
		.back
			.welcome-form
				.welcome-form__main
					h1.welcome-form__title Создать аккаунт
					form(action="")
						fieldset.welcome-form__fieldset
							input(type="text" placeholder="E-mail").input.welcome-form__input-text
							input(type="text" placeholder="Пароль").input.welcome-form__input-text
					.welcome-form__note Я соглашаюсь, что ознакомлен с 
						a(href="/legal.html").link политикой&nbsp;конфеденциальности
					div
						a(href="").btn.btn_extra.btn_primary Создать аккаунт
				footer.welcome-form__footer
					div Есть аккаунт? 
						a(href="/login.html") Войти
