#burger-menu
	include ../modules/nav
	.burger-actions
		.burger-actions__set
			a(href="/orders.html").btn.btn_light Личный кабинет
			a(href="/orders.html").btn.btn_light Войти
			a(href="/orders.html").btn.btn_glass Регистрация

		.burger-actions__set
			.balance-detail.balance-detail_compact.balance-detail_light
				.balance-detail__main
					a(href="/orders.html").btn.btn_icon.btn_rub
						.balance-label.balance-label_light
							.balance-label__title Ваш баланс:
							.balance-label__value 7 048 ₽
			a(href="/contacts.html").btn.btn_glass Написать в поддержку